:host {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  background-color: #4D5C6D;
  align-items: center;
  justify-content: space-around;
}

.image-container {
  img {
    border: white 2px solid;
    border-radius: 50%;
  }
}

