$profileHeight: 180px;
$leftColumnWidth: 300px;
$baseMargin: 10px;
$messageInputHeight: 50px;

:host {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%
}

.column-left {
  flex-basis: $leftColumnWidth;
  margin: $baseMargin 0;
  display: flex;
  flex-direction: column;

  .profile {
    position: relative;
    flex-basis: $profileHeight;
  }

  .users {
    position: relative;
    margin-top: $baseMargin;
    flex-grow: 1;
  }
}

.column-right {
  margin: $baseMargin 0 $baseMargin $baseMargin;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .messages {
    flex-grow: 1;
    margin-bottom: $baseMargin;
  }

  .message-input {
    flex-basis: $messageInputHeight;
  }
}

